.vscode
.venv
*.o
.out
.d
.env
.DS_Store

# executables
bin

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

_deps
bazel-bin
bazel-out
bazel-PeerToPeer
bazel-testlogs
MODULE.bazel.lock
.DS_Store
